:root {
    --background-color: cornflowerblue;
    --panels: lightgoldenrodyellow;
    --frames: burlywood;
    --highlights: chocolate;

}

body {
    background-color: var(--background-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.panel {
    position: absolute;
    background-color: var(--panels);
    border: 8px solid var(--frames);
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
    box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
    z-index: 1;
}

.footer{
    left: 50%;
    top: 100%;
    height: 80px;
    width: 300px;
    margin-left: -120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

}
.footer button {
    position: relative;
    left: 50%;
    top: 20%;
    width: 150px;
    height: 50px;
    background-color: var(--panels);
    font-size: 20px;
    border: 2px solid var(--frames);
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
    box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
    font-weight: bold;
    text-align: center;

}
.footer button:hover {
    background-color: var(--highlights);
}

.header {    
    left: 50%;
    top: 90px;
    height: 80px;
    width: 300px;
    margin-left: -120px;
}

.header-text {
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;

}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 25%;
    background-color: beige;
    border: 8px solid var(--frames);
    border-radius: 8%;
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
    box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
}

.gameCircle {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    border: 5px solid var(--highlights);

}
.player_0 {
    background-color: white;
}

.player_1 {
    background: red;

}

.player_2 {
    background: blue;

}